/* Style the card using
    position,
    padding,
    margin,
    line-height,
    border
 */

 body {
    background-color: rgb(136, 164, 236);
    font-family: "Jura", sans-serif;
}

.container {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    margin: auto;
    position: relative;    
}



.text {
    background-color: rgb(174, 252, 213);
    grid-area: 2 / 3 / 3 / 5;
    border: 2px black solid;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    position: relative;
    min-width: 200px;
    }

.text h2 {
    text-align: center;
    }

.badge {
    position: absolute;
    bottom: 0px;
    left: 10px;
    border-radius: 10%;
    padding: 0px 10px;
    border: 2px black solid;
    background-color: rgb(240, 46, 46);
    color: white;
    text-align: center;
    grid-area: 1 / 3 / 2 /4;
}

.badge:hover {
    transform: scale(1.1);
}

hr {
    border-color: black;
}

.animated-bg {
       
    animation: change-bg-color 10s infinite;
}
@keyframes change-bg-color {
    0% {
        background-color: #ff6347;
    }
    50% {
        background-color: #32cd32;
    }
    100% {
        background-color: #ff6347;
    }
}